<?php
/**
* Custom option template
*
* @category   Juno
* @package    Customoptionfiles
* @copyright  Copyright (c) 2014 JunoMedia Inc (http://www.junowebdesign.com)
*/
/** @var $this Juno_Customoptionfiles_Block_Adminhtml_Customoption_Edit_Tabs_Form_Option */
?>
<?php if ($optionId = $this->getOption()->getId()): ?>
    <b><?php echo $this->getOption()->getTitle() ?></b>
    <table class="border" cellpadding="0" cellspacing="0">
    <input type="hidden" class="required-option-select-type-rows" name="validation_<?php echo $optionId; ?>_result" value="" >
    <thead>
        <tr class="headings">
            <th class="field-heading"><?php echo $this->__('Field Title') ?></th>
            <?php foreach($this->getValues() as $value): ?>
                <th class="type-order"><?php echo $value['title']; ?></th>
            <?php endforeach; ?>
        <th class="type-butt last">&nbsp;</th>
        </tr>
    </thead>
    <tbody id="select_option_type_row_<?php echo $optionId ?>">
    </tbody>
    <tfoot>
        <tr>
            <td colspan="100" class="a-right"><button  id="add_select_row_button_<?php echo $optionId ?>" title="Add New Row" type="button" class="scalable add add-select-row" onclick="" style=""><span><span><span>Add New Row</span></span></span></button></td>
        </tr>
        </tfoot>
    </table>
    <script type="text/javascript" >
    //<![CDATA[
    fieldTemplateRow<?php echo $optionId; ?> = '<tr id="product_option_<?php echo $optionId; ?>_select_{{select_id}}" class="product-custom-options">'+
        '<td>' +
            '<input type="text" class="input-text" name="fieldlabel[<?php echo $optionId; ?>][{{select_id}}][label]" value="{{fieldlabel}}" />' +
            '<input type="hidden" id="product_option_<?php echo $optionId; ?>_select_{{select_id}}_is_delete" name="fieldlabel[<?php echo $optionId; ?>][{{select_id}}][delete]" value="">'+
            '<input type="hidden" name="fieldlabel[<?php echo $optionId; ?>][{{select_id}}][is_new]" value="{{is_new}}">' +
        '</td>'+
        <?php foreach($this->getValues() as $value): ?>
            '<td>' +
                '<img src="{{image<?php echo !empty($value['id']) ? $value['id'] : $optionId ?>}}" class="no-display" id="image_<?php echo $optionId; ?>_<?php echo !empty($value['id']) ? $value['id'] : $optionId ?>" style="display: {{display<?php echo !empty($value['id']) ? $value['id'] : $optionId ?>}}"width="100" heigh="100" /> ' +
                '<span class="no-display" style="display: {{display<?php echo !empty($value['id']) ? $value['id'] : $optionId ?>}}">(<a href="#" class="delete-image")">X</a>)</span>' +
                '<input type="file" name="fieldvalue[<?php echo $optionId; ?>][<?php echo !empty($value['id']) ? $value['id'] : $optionId ?>][{{select_id}}][image]" value="{{field}}" class="file-selector">' +
                '<input type="hidden" data-delete="delete" name="fieldvalue[<?php echo $optionId; ?>][<?php echo !empty($value['id']) ? $value['id'] : $optionId ?>][{{select_id}}][delete]" id="image_<?php echo $optionId; ?>_<?php echo !empty($value['id']) ? $value['id'] : $optionId ?>_is_delete" value="0">' +
            '</td>'+
        <?php endforeach; ?>
        '<td class="last"><span title="Delete row"><button  id="delete_select_row_button_{{select_id}}" title="Delete Row" type="button" class="scalable delete delete-select-row icon-btn" onclick="" style=""><span><span><span>Delete Row</span></span></span></button></span></td>'+
        '</tr>';

    var productOption<?php echo $optionId ?> = {
        div : $('select_option_type_row_<?php echo $optionId ?>'),
        templateSyntax : /(^|.|\r|\n)({{(\w+)}})/,
        templateText : fieldTemplateRow<?php echo $optionId; ?>,
        itemCount : 1,
        is_new: 1,
        image_delete: 0,
        display: "none",
        add : function(data) {
            this.template = new Template(this.templateText, this.templateSyntax);
            if(!data.id){
                data = {};
                data.id  = this.itemCount;
                data.type = '';
                data.option_id = 0;
                data.select_id = this.itemCount;
            } else {
                this.itemCount = data.select_id;
            }

            if(typeof data.is_new === "undefined") {
                data.is_new = this.is_new;
            }

            Element.insert(this.div, {'after':this.template.evaluate(data)});

            this.itemCount++;
            this.bindRemoveButtons();
            this.bindRemoveImageButton();
            this.bindSelectImage();
        },
        remove : function(event){
            var element = $(Event.findElement(event, 'tr'));
            if(element){
                $(element.readAttribute('id')+'_'+'is_delete').value = '1';
                element.addClassName('no-display');
                element.addClassName('ignore-validate');
                element.hide();
            }
        },
        removeImage: function(event){
            var elements = (Event.findElement(event, 'td')).childElements();
            elements.findAll(function(elm) {
                if (elm.getAttribute('src') != null) {
                    elm.hide();
                }
                if (elm.getAttribute('data-delete') == 'delete') {
                    elm.value = 1;
                }
            });
            event.preventDefault();
        },
        selectImage : function(event){
            var elements = (Event.findElement(event, 'td')).childElements();
            elements.findAll(function(elm) {
                if (elm.getAttribute('data-delete') == 'delete') {
                    elm.value = 0;
                }
            });
        },
        bindRemoveButtons : function(){
            var buttons = $$('tr.product-custom-options .delete-select-row');
            for(var i=0;i<buttons.length;i++){
                if(!$(buttons[i]).binded){
                    $(buttons[i]).binded = true;
                    Event.observe(buttons[i], 'click', this.remove.bind(this));
                }
            }
        },
        bindRemoveImageButton : function(){
            var elements = $$('tr.product-custom-options .delete-image');
            for(var i=0;i<elements.length;i++){
                if(!$(elements[i]).binded){
                    $(elements[i]).binded = true;
                    Event.observe(elements[i], 'click', this.removeImage.bind(this));
                }
            }
        },
        bindSelectImage : function(){
            var elements = $$('tr.product-custom-options .file-selector');
            for(var i=0;i<elements.length;i++){
                if(!$(elements[i]).binded){
                    $(elements[i]).binded = true;
                    Event.observe(elements[i], 'change', this.selectImage.bind(this));
                }
            }
        },
        bindAddButton : function()
        {
            var button = $('add_select_row_button_<?php echo $optionId ?>');

            if(!$(button).binded){
                $(button).binded = true;
                Event.observe(button, 'click', this.add.bind(this));
            }

        }
    }
    productOption<?php echo $optionId ?>.bindAddButton();

    <?php foreach($this->getAllField() as $field): ?>
        <?php $fieldId  = $field->getId(); ?>
        <?php $collection = $this->getAllFileByField($fieldId) ?>
        productOption<?php echo $optionId ?>.add(
            {
                id: <?php echo $fieldId ?>,
                is_new: 0,
                select_id: <?php echo $fieldId ?>,
                fieldlabel: "<?php echo addslashes($field->getFieldLabel()) ?>",
                <?php foreach($collection as $fieldValue): ?>
                    image<?php echo $fieldValue->getOptionValueId() ?> : "<?php echo Mage::helper('customoptionfiles')->getFileLink($fieldValue); ?>" ,
                    display<?php echo $fieldValue->getOptionValueId() ?>: "block",
                <?php endforeach; ?>
                nouse: 1
            }
        );
    <?php endforeach; ?>
    // ]]>
    </script>
<?php endif; ?>