<?php
/**
* @description:
*
* @category   Juno
* @package    Customoptionfiles
* @copyright  Copyright (c) 2014 JunoMedia Inc (http://www.junowebdesign.com)
*/
/** @var $this Juno_Customoptionfiles_Block_Adminhtml_Customoption_Edit_Tabs_Form */

/** @var $product Mage_Catalog_Model_Product */
$product = $this->getProduct();
?>
<?php if($product->getHasOptions()): ?>
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4><?php echo Mage::helper('catalog')->__('Custom Options') ?></h4>
        </div>
        <div id="product_options_container" class="box">
            <div id="product_options_container_top">
                <div class="grid">
                    <?php foreach ($product->getOptions() as $option): ?>
                        <?php echo $this->getOptionHtml($option); ?>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    </div>
<?php else: ?>
    <span><?php echo $this->__('This product doesnt have any custom option') ?></span>
<?php endif; ?>